extends ../_tmpl/base

block param
	- var siteTitle = "ダミータイトル";
	- var description = "ダミータイトル";
	- var keywords = "ダミータイトル";
	- var pageTitle = "ダミータイトル";
	- var bodyID = "BodyID";

prepend container
	.breadcrumb
		.wrap
			ul
				li: a(href="/") HOME
				li: a(href="/xxx/xxx/") xxx
				li #{pageTitle}

prepend contents
	h2.headline.headline--01 #{pageTitle}

prepend side