//
// Component
//

/*! animation
------------------------------ */
@keyframes slideIn-text-en
	0% {clip: rect(0, 0, 100px, 0)}
	100% {clip: rect(0, 400px, 100px,0)}

@keyframes slideIn-text-jp
	0% {clip: rect(0, 0, 100px, 0)}
	100% {clip: rect(0, 200px, 100px,0)}

/* PARTS
------------------------------ */
/* component */
.component
	display: block