//
// Variables
//

// width
$base_width = 960px

// Media Queries
$point_max = 1480px
$point_pc = $base_width
$point_tb = 768px
$point_sp = 640px

// font
$base_font = "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, sans-serif
// $en_font = BebasKai, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, sans-serif

// color
$color_main = #1782d4
$color_main_dark = #12387d
$color_sub = #a0a9b9
$color_sub_light = #f4f6f7
$color_sub_dark = #edeff0
$color_accent = #e73230

// link color
$link_color = #1b4a9e
// $link_color_visited = #1b4a9e
$link_color_hover = #1b4a9e
// $link_color_active = #1b4a9e

// text color
$text_color_main = #616466
$text_color_sub = #fff
// $text_color_accent = #fd65a2

// rollover value
$opacity_value = .7